@import "../variables.scss";
@import"../mixins.scss";
.Skills{
  @include first-page;
  align-items: flex-start;
  padding: 100px;
  overflow: hidden;
}
.Skills-page{
  color: $white;
  width: 400%;
  display: flex;
  flex-direction: column;
  @media(max-width:$medium){
    width: 150%;
    padding: 5px;
    margin-left: -40px;
  }
}
.skill{
  color: $white;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content:space-around ;
  align-items: center;
  @media(max-width:$medium){
    width: 150%;
    padding: 15px;
    margin-left: -70px;

  }

  .icon{
    padding: 10px;
    font-size: 80px;
    color: white;
    border-radius: 30%;
  }

  p{
  display: flex;
  justify-content: space-between;
  background-color: $white;
  width: 80%;
  border-radius: 20px;
  position: relative;
  
}
.box .one{
  color: $amazing;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 90%;
  font-weight: bold;
  z-index: 3;
  @media(max-width:$small){
    font-size: 15px;
  }
    
  }
  .box .two{
    color: $black;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    @media(max-width:$medium){
      font-size: 15px;
    display: flex;
    align-items: center;

    }
  }
}
.box::before{
  content: "";
  background-color:$amazing ;
  position: absolute;
  top: 0;
  left: 0;  
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1;
  border-radius: 10px;
  width: 90%;
}
.skill:hover {
  .icon{
  padding: 10px;
  @include full;
  font-size: 100px;
  color: white;
  border-radius: 30%;
  @media(max-width:$medium){
    font-size: 50px;
  }
}

.box:before{
  content: "";
  background-color:$amazing ;
  display: block;
  z-index: 1;
  animation: show 1s linear;
}
.box .one{
  color: $white;
}
.box .two{
  color: $white;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
}
@keyframes show {
  from {
    position: absolute;
    height: 100%;
    width:0;

    
  }
  to{
    position: absolute;
    top: 0;
    left: 0;  
    height: 100%;
    width: 90%;
  }
}

